:root {
    --main-bg-color: brown;
}
  
.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
    box-sizing: content-box;
}

.width-and-height {
    height: 50px;
    width: 50px;
}

.padding {
    padding: 20px;
}

.margin {
    margin: 30px;
}

.border {
    border: 5px solid black;
}

/* https://github.com/xieranmaya/blog/issues/12 */
li:not(:first-child):not(:nth-child(2n + 4)):not(:nth-child(3n + 6)):not(:nth-child(5n + 10)) {
    text-transform: uppercase;
}