body {
    font-size: 16px;
  }
  h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
  }
  p {
    font-weight: 600;
    font-size: 3rem;
  }
  ul {
    list-style: none;
  }
  li {
    background-color: #246;
  }
  .bgcolor {
    background-color: gray;
    text-decoration: overline underline;
    line-height: 3em;
    text-align: center;
    font-style: italic;
  }
  li:nth-child(1) {
    background-color: yellow;
  }
  li:nth-child(2) {
    background-color: red;
  }
  li:nth-child(3) {
    background-color: brown;
  }